
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="h2-custom">FAQ</h2>



<div class="container-fluid">
    <div class="container">
        <p  style="font-style:italic;">How do we get M-Pet?</p>
        <p>We are here to help you every step of the way. Call 1-800-793-8707 or <a href="@Url.Action("Email", "Email")">email</a> to speak to a represantive about what solution will fit your needs.</p>
    </div>
    <div class="container">
        <p class="question">What is CMMS?</p>
        <p>Computerized maintenance management system (CMMS), is a software package that maintains a computer database of information about an organization's maintenance operations.[1] This information is intended to help maintenance workers do their jobs more effectively (for example, determining which machines require maintenance and which storerooms contain the spare parts they need) and to help management make informed decisions (for example, calculating the cost of machine breakdown repair versus preventive maintenance for each machine, possibly leading to better allocation of resources). -source <a target="_blank" href="https://en.wikipedia.org/wiki/Computerized_maintenance_management_system">Wikipedia</a> </p>
    </div>
    <div class="container">

    </div>
    <div class="container">

    </div>
    <div class="container">

    </div>
</div>