
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custom-page-header" style="padding: 25px; margin-top: 50px;">

<h2 class="custom-page-header">Contact US</h2>
</div>


@using (Html.BeginForm("SendEmail", "Email", FormMethod.Post))
{


        <div style="padding: 25px; margin:10px 10px; border:2px solid lightgrey;">
            <div class="container-fluid" style="padding: 10px;">
                <input id="from" type="text" placeholder="You name" class="input-group-lg" style="padding: 10px;" />
            </div>
            <div class="container-fluid" style="padding: 10px;" title="Email Address">
                <input id="emailFrom" required name="emailFrom" type="email" placeholder="Email Address" class="input-group-lg" style="padding: 10px;" /><br />
            </div>
            <div class="container-fluid" style="padding: 10px;" title="Subject">
                <input id="emailSubject" required name="emailSubject" type="text" placeholder="Subject"class="input-group-lg" style="padding: 10px;"  /><br />
        </div>
        <div class="container-fluid" style="padding:25px;">
            <textarea id="emailBody" required name="emailBody" wrap="soft" placeholder="Email text" style="width: 95%; padding: 10px;" class="text-info" rows="2" cols="20"></textarea>
        </div>
        <div style="padding: 25px;">
            <input type="submit" value="Submit" class="btn-primary"  />
        </div>
            @if (TempData["messageSuccess"] != null)
            {
                <p class="alert-success" style="width: 200px; text-align:center;">@TempData["messageSuccess"]</p>
            }   
            
            @if (TempData["messageError"] != null)
            {
                <p class="alert-danger" style="width: 200px; text-align:center;">@TempData["messageError"]</p>
            }          
       </div>

    //<button id="emailSendButton" class="btn-group-lg">@Html.ActionLink("Send","Login", "Email")</button>
    
}

